@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

:root {
  /*colors*/
  --color-orange: #ff8a00;
  --color-white-primary: #ffffff;
  --color-gray-1: #f1f4f8;
  --color-black-default: #1f1f1f;
  --color-black-dark: #161616;
  --color-green-light: #a3ffdd;
  --color-green-default: #1ed794;
  --color-purple: #9b5beb;
  --color-blue: #564afc;

  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-family: "Rethink Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  height: -webkit-fill-available;
  color: var(--color-white-primary);
  background-color: var(--color-white-primary);
}
main {
  overflow: hidden;
}
a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
}

.header.on-scroll {
  background: var(--color-white-primary);
}

.underline {
  position: relative;
}

.underline:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  height: 15px;
  width: 100%;
  border: solid 4px var(--color-green-light);
  border-color: var(--color-green-light) transparent transparent transparent;
  border-radius: 64%;
}

.container {
  max-width: 120rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
  margin-bottom: 2rem;
}

/*Header Section*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  margin: 0 auto;
  transition: all 0.35s ease;
  background-color: var(--color-white-primary);
}

.brand .logo {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  color: var(--color-black-default);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  column-gap: 1.25rem;
  width: 100%;
  height: 8rem;
  margin: 0 auto;
}

.menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 4rem 0 3rem;
  overflow: hidden;
  background-color: var(--color-white-primary);
  box-shadow: var(--shadow-medium);
  transition: all 0.4s ease-in-out;
}

.menu.is-active {
  top: 0;
  width: 100%;
  height: auto;
}

.menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
}

.menu-link {
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-black-default);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.page-link {
  color: var(--color-blue);
  font-weight: 600;
}

.menu-block {
  display: inline-block;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.25;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  margin-left: auto;
  padding: 1rem 3.2rem;
  border-radius: 1rem;
  text-transform: capitalize;
  color: var(--color-white-primary);
  background-color: var(--color-orange);
  box-shadow: var(--shadow-medium);
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
}

.block-orange {
  margin-left: 0;
  background-color: var(--color-orange);
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: none;
  border: 2px solid transparent;
  border-radius: 1.8rem;
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  order: 1;
  z-index: 10;
  width: 2.6rem;
  height: 2.15rem;
  border: none;
  outline: none;
  background: none;
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.35s ease;
}

.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 1rem;
  transform: rotate(0deg);
  background-color: var(--color-black-dark);
  transition: 0.25s ease-in-out;
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 1rem;
  width: 70%;
}
.burger-line:nth-child(3) {
  top: 2rem;
}

.burger.is-active .burger-line:nth-child(1) {
  top: 0.5rem;
  transform: rotate(135deg);
}
.burger.is-active .burger-line:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
.burger.is-active .burger-line:nth-child(3) {
  top: 0.5rem;
  transform: rotate(-135deg);
}

.grid {
  display: grid;
  /* column-gap: 6.4rem; */
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: var(--color-black-default);
  font-weight: 700;
}

.heading-primary {
  font-size: 6rem;
  line-height: 1.4;
  margin-bottom: 3.2rem;
  font-weight: 700;
}
.heading-secondary {
  color: var(--color-black-default);
  font-size: 5.2rem;
  line-height: 1.2;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3rem;
  position: relative;
}
.subheading,
.sub-black,
.sub-white {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: none;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.sub-black {
  color: var(--color-black-default);
}

.sub-white {
  color: var(--color-white-primary);
}

.home {
  padding-bottom: 4rem;
}

.container-hero {
  padding-top: 12rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.text-box {
  padding: 2rem 0 2rem 0;
  align-self: self-start;
}

.for-you {
  margin-top: 5rem;
}

.step-description {
  color: var(--color-black-default);
}

.text-box p {
  display: inline-block;
  color: var(--color-black-default);
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}

.session-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: fit-content;
  background-color: var(--color-gray-1);
  padding: 0.3rem;
  border-radius: 1.8rem;
  margin-top: 3rem;
}

.session-details {
  padding-top: 1rem;
  margin-bottom: 0;
  display: inline-flex;
  align-items: center;
}

.question-icon {
  line-height: 0;
  width: 2rem; /* Adjust size as needed */
}
.hero-img {
  width: 100%;
  height: auto;
  display: block;
}

@media only screen and (min-width: 48rem) {
  .menu {
    position: relative;
    top: 0;
    width: auto;
    height: auto;
    padding: 0rem;
    background: none;
    box-shadow: none;
  }
  .menu-inner {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin: 0 auto;
  }

  .menu-link {
    text-transform: capitalize;
  }

  .menu-block {
    margin-left: 2rem;
  }

  .block-orange {
    margin-left: 0;
    background-color: var(--color-orange);
  }

  .burger {
    display: none;
    visibility: hidden;
  }

  .container-hero {
    flex-wrap: nowrap;
  }
}

/**************/
/***CARDS******/
/**************/

.cards {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--color-gray-1);
}

.black {
  color: var(--color-black-default);
}

.white {
  color: var(--color-white-primary);
}

.blue {
  color: var(--color-blue);
}

.container-cards {
  gap: 5rem;
}
.card-box {
  padding: 3rem;
}

.card-box .step-description {
  margin-bottom: 2rem;
}
.left-card,
.right-card {
  border-radius: 4rem;
  background-color: var(--color-white-primary);
  overflow: hidden;
}

.card-img {
  width: 100%;
  object-fit: cover;
}

.cards .container .session-div {
  margin: 4rem auto 0;
}

.cards .container .grid {
  margin-bottom: 5rem;
}

/*********************/
/***Testimonials******/
/*********************/

.testimonials {
  padding: 8rem 0;
}

.center {
  text-align: center;
}

.margin-btm {
  margin-bottom: 1.6rem;
}

.green-bg {
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 10rem;
  background-color: var(--color-green-light);
}

.purple-bg {
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 10rem;
  background-color: var(--color-purple);
}

.stars {
  text-align: left;
  display: block;
}

.testimonials-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding-top: 6.4rem;
}

.testimonial-item--1,
.testimonial-item--2,
.testimonial-item--3,
.testimonial-item--4 {
  padding: 4rem;
  border-radius: 4rem;
  text-align: left;
}

/* Desktop layout */
.testimonial-item--1 {
  grid-column: span 2;
  grid-row: span 1;
  background-color: var(--color-gray-1);
}

.testimonial-item--2,
.testimonial-item--4 {
  grid-column: span 1;
  grid-row: span 1;
  background-color: var(--color-gray-1);
}

.testimonial-item--3 {
  grid-column: span 1;
  grid-row: span 2;
  background-color: var(--color-gray-1);
}

.testimonial-details {
  text-align: left;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

/**************/
/****FOOTER****/
/**************/

.footer {
  background: var(--color-black-dark);
  padding: 2rem 27rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.copy,
.madeby {
  font-size: 1.6rem;
}

.in-link {
  display: block;
  padding-left: 1rem;
}

.in-link svg {
  height: 5rem;
  width: 5rem;
}

.in-link svg:hover {
  scale: 1.1;
  transition: all 0.25s ease-in-out;
}
.social-link {
  display: flex;
  align-items: center;
}

.xeldot-link {
  color: var(--color-white-primary);
}

.privacy {
  color: var(--color-purple);
  font-size: 1.2rem;
  padding-top: 1rem;
}

/*************/
/***FOR YOU***/
/*************/

.card {
  border: 2px solid var(--color-black-default);
  border-radius: 2.4rem;
  padding: 1.8rem;
  -webkit-box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.75);
}

.card-description {
  color: var(--color-black-default);
  font-size: 1.6rem;
  text-align: center;
}

.margin-btm-bg {
  margin-bottom: 4.8rem;
}
.white-bg {
  background-color: var(--color-white-primary);
}

.card-icon {
  display: block;
  justify-self: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 2.4rem;
}

/***SESSION CARDS***/

.session-card {
  background-color: var(--color-white-primary);
  padding: 4rem;
  border-radius: 4rem;
}
.card-title {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.heading-quaternary {
  color: var(--color-black-default);
  font-size: 2.8rem;
  font-weight: 600;
  padding-left: 2rem;
}
.number {
  background-color: var(--color-green-default);
  font-size: 2.8rem;
  color: var(--color-black-default);
  font-weight: 700;
  padding: 2rem 1.5rem;
  line-height: 0;
  border-radius: 50%;
  align-content: center;
}

.align-left {
  text-align: left;
}

.process {
  padding: 1rem 14rem;
  text-align: center;
}

.process-item {
  font-size: 1.8rem;
  letter-spacing: 1px;
  background-color: var(--color-black-dark);
  display: inline-block;
  padding: 0.5rem 2rem;
  margin-left: 1.4rem;
  border-radius: 3rem;
  margin-bottom: 2rem;
}

/********************/
/****YOUR COMPANY****/
/********************/

.company-process {
  background-color: var(--color-gray-1);
  padding: 4.8rem 0;
}

.container-heading {
  padding: 4.8rem 6.4rem;
}

.leaders-card {
  display: grid;
  border-radius: 3rem;
  overflow: hidden;
  margin-bottom: 4.8rem;
}

.workers-img {
  width: 100%;
  height: 100%;
  line-height: 0;
}
.company-card-description {
  text-align: left;
  padding: 4.8rem;
  background-color: var(--color-black-dark);
}

.session-image {
  margin-top: 4.8rem;
  width: 100%;
  display: block;
  margin-bottom: 4.8rem;
}

.hidden-cards {
  display: none;
}

.card-titles {
  display: flex;
  align-items: center;
}

.card-shdw {
  border: 1px solid var(--color-black-default);
  -webkit-box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.75);
}

/***END***/

.end-phase {
  margin-top: 6.4rem;
  background-color: var(--color-white-primary);
  border-radius: 3rem;
}

.cnt-center {
  align-content: center;
}

.end-phase .session-div {
  background-color: transparent;
  margin: 4rem auto 0;
}

.end-phase .container-heading {
  padding-bottom: 0;
}

.end-phase .team-image {
  display: block;
  line-height: 0;
  width: 100%;
  margin-top: 4.8rem;
}

/****************/
/****Our World ***/
/********************/

.our-world {
  padding-top: 12rem;
}

.ngo-box {
  margin: 0 14rem;
  padding: 4rem;
  background-color: var(--color-gray-1);
  border-radius: 3rem;
}

.earth-icon {
  display: block;
  width: 10rem;
}

.ngo-box .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  margin-bottom: 4rem;
}

.ngo-box .title .heading-tertiary {
  margin-bottom: 0;
}

.our-world-details .session-div {
  margin: 0 auto 4rem;
}

/****ABOUT***/

.about-details {
  font-size: 2.2rem;
  margin: 0 14rem;
  font-weight: 500;
}

/************/
/***STARS***/
/***********/

.block-orange {
  position: relative;
}
.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--color-orange));
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--color-orange));
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--color-orange));
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--color-orange));
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--color-orange));
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--color-orange));
  z-index: -5;
  transition: all 0.8s ease;
}

.block-orange:hover {
  background: var(--color-orange);
  color: var(--color-white-primary);
  box-shadow: 0 0 25px var(--color-orange);
}

.block-orange:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--color-black-dark));
  z-index: 2;
}

.block-orange:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--color-black-dark));
  z-index: 2;
}

.block-orange:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--color-black-dark));
  z-index: 2;
}

.block-orange:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--color-black-dark));
  z-index: 2;
}

.block-orange:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--color-black-dark));
  z-index: 2;
}

.block-orange:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--color-black-dark));
  z-index: 2;
}

.fil0 {
  fill: var(--color-black-dark);
}

.heading-span {
  position: relative;
  overflow: hidden;
}

.heading-span::before {
  position: absolute;
  content: "";
  background-image: url(/images/header-line.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  width: 100%;
  top: 50%;
  z-index: -1;
}
